name: CI

on:
  push:
    branches: [PHP-8.4]
    paths-ignore:
      - 'docs/**'
      - '.editorconfig'
      - '.gitignore'
      - 'CHANGELOG.md'
      - 'README.md'
  pull_request:
    branches: [PHP-8.4]
    paths-ignore:
      - 'docs/**'
      - '.editorconfig'
      - '.gitignore'
      - 'CHANGELOG.md'
      - 'README.md'

jobs:
  linux:
    name: Linux.${{ matrix.os.label }}.${{ matrix.compiler.name }}.${{ matrix.generator }}
    runs-on: ${{ matrix.os.label }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - { label: ubuntu-latest }
        compiler:
          - { name: GNU, CC: gcc, CXX: g++, packages: gcc g++ }
          - { name: Clang, CC: clang, CXX: clang++, packages: clang llvm-dev }
        build_type:
          - Release
        generator:
          - Unix Makefiles
        php:
          - 8.4-dev
    env:
      CC: ${{ matrix.compiler.CC }}
      CXX: ${{ matrix.compiler.CXX }}
      CMAKE_BUILD_TYPE: ${{ matrix.build_type }}
    steps:
      - name: Install compiler ${{ matrix.compiler.name }}
        run: |
          sudo apt-get update
          sudo apt-get -y install ${{ matrix.compiler.packages }}

      - name: Install base dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install \
            build-essential \
            re2c \
            bison \
            libxml2-dev \
            libssl-dev \
            libpcre2-dev \
            libsqlite3-dev \
            libbz2-dev \
            libcurl4-openssl-dev \
            libdb5.3++-dev \
            libenchant-2-dev \
            libgmp-dev \
            unixodbc-dev \
            freetds-dev \
            apache2-dev \
            firebird-dev \
            libsodium-dev \
            libicu-dev \
            libzip-dev \
            libavif-dev \
            libfreetype-dev \
            libjpeg-dev \
            libpng-dev \
            libwebp-dev \
            libxpm-dev \
            libonig-dev \
            libtidy-dev \
            libargon2-dev \
            libxslt1-dev \
            libcapstone-dev \
            libedit-dev \
            libcdb-dev \
            liblmdb-dev \
            libqdbm-dev \
            libtokyocabinet-dev \
            libsnmp-dev \
            snmp \
            snmpd \
            snmp-mibs-downloader \
            libexpat1-dev \
            libacl1-dev \
            libapparmor-dev \
            libselinux1-dev \
            libsystemd-dev \
            libldap2-dev \
            libsasl2-dev \
            libpq-dev \
            libmm-dev \
            zlib1g-dev \
            libdmalloc-dev;

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Install CMake and Ninja
        uses: lukka/get-cmake@latest
        id: cmake-and-ninja

      - name: Configure and build PHP
        run: |
          cmake --preset all-enabled -DCMAKE_INSTALL_PREFIX=/usr
          cmake --build --preset all-enabled -j

      - name: Setup SNMP agents
        run: |
          cd php-build/all-enabled/php-src
          sudo cp ext/snmp/tests/{snmpd.conf,bigtest} /etc/snmp
          sudo systemctl restart snmpd

      - name: Run tests
        if: ${{ always() }}
        run: ctest --preset all-enabled

      - name: Install PHP
        if: ${{ always() }}
        run: sudo "${{ steps.cmake-and-ninja.outputs.cmake-path }}/cmake" --install php-build/all-enabled/php -j $(nproc)

      - name: Setup shared standalone extension
        if: ${{ always() }}
        run: |
          php php-build/all-enabled/php-src/ext/ext_skel.php --ext phantom
          cd php-build/all-enabled/php-src/ext/phantom
          cmake \
            -B cmake-build \
            -DPHP_EXT_PHANTOM=ON \
            -DPHP_EXT_PHANTOM_SHARED=ON
          cmake --build cmake-build -j
          sudo "${{ steps.cmake-and-ninja.outputs.cmake-path }}/cmake" --install cmake-build
          php -d extension=phantom -m | grep phantom

  windows:
    runs-on: windows-latest
    name: Windows
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Build and install
        run: |
          cmake --preset windows
          cmake --build --preset windows -j
